
test/app.py
test/v_1.py
.idea/modules.xml
.idea/misc.xml
.idea/.name
.idea/cody_history.xml
.idea/Employee_Management_System-main.iml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
python_src_orig/
dist/
build/
build_x86/Output/
python_src/__pycache__/users.cpython-312.pyc
python_src/__pycache__/print_pdf.cpython-312.pyc
python_src/__pycache__/constants.cpython-312.pyc
python_src/__pycache__/database.cpython-312.pyc
python_src/__pycache__/loggin_setup.cpython-312.pyc
python_src/__pycache__/terms_and_conditions.cpython-312.pyc
!/python_src_orig/
python_src/__pycache__/main.cpython-312.pyc
*.log
