
test/app.py
test/v_1.py
.idea/modules.xml
.idea/misc.xml
.idea/.name
.idea/cody_history.xml
.idea/Employee_Management_System-main.iml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
!/python_src_orig/
!/dist/
!/build/
!/.idea/
!/build_x86/Output/
